ion-item.item-md {
  &:hover {
    cursor: pointer;
    background-color: #f6f7fa;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.09);
  }
  ion-avatar {
    cursor: pointer;
    min-width: 0;
    min-height: 0;

    .logo {
      width: 25px;
      height: 25px;
    }
  }
}

.secondary {
  filter: grayscale(100%);
}

ion-item {
  ion-label {
    cursor: pointer;
  }
}

denomination {
  .list {
    margin-bottom: 0;
    .item-divider-md {
      border-bottom-color: rgba(62, 58, 57, 0.3);
    }

    .input-wrapper {
      .label {
        color: rgba(0, 0, 0, 0.4);
        font-size: 15px;
        font-weight: 500;
      }
    }

    .item {
      ion-avatar ~ .item-inner {
        .label {
          color: rgba(62, 58, 57, 0.6);
          font-weight: 700;
          font-size: 13px;
          .pill {
            color: rgba(62, 58, 57, 0.6);
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
    }

    .item-block {
      &:hover {
        cursor: pointer;
      }
    }

    &:last-child {
      ion-item-divider {
        .label {
          font-size: 16px;
          color: rgba(62, 58, 57, 0.6);
          font-weight: 700;
        }
      }

      ion-item {
        .item-inner {
          border-bottom: none;
          .label {
            color: rgba(62, 58, 57, 0.6);
            font-size: 13px;
            font-weight: 400;
          }
        }
        &.item-radio-checked {
          .label {
            color: #dba734;
          }

          ion-radio {
            .radio-checked {
              border-color: #dba734;
            }
            .radio-inner {
              background-color: #dba734;
            }
          }
        }
      }
    }
  }
}
